*.csv
*.gem
*.rbc
*.lock
*.xml
*.zip
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
examples/my_*.rb
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/archivesspace/
